<big><big><b><u><center>Schools Analysis</center></u></b></big></big>  <br>
<big><b>Summary</b></big> <br>

<b>Observation 1 -</b>  <br>
Size matters.: Schools with smaller student population out preformed schools with larger populations<br>
    
<b>Observation 2 -</b> <br>
As long as a baseline of funding per student is achieved, small increments in funding do not correlate to better outcomes in math and reading scores. 

<b>Observation 3 - </b><br>
Math scores are the limiting factor in school success for district schools.   Reading score across all sectors are consistent and within the same range for the worst performing schools as they are for the highest performing schools<br>

In [21]:
#import Libraries
import pandas as pd
import numpy as np

In [22]:
#get Csv Files
School_data_load = "PyCitySchools/Resources/schools_complete.csv"
Student_data_load = "PyCitySchools/Resources/students_complete.csv"

school_data = pd.read_csv(School_data_load)
student_data = pd.read_csv(Student_data_load)

In [23]:
list(student_data)

['Student ID',
 'student_name',
 'gender',
 'grade',
 'school_name',
 'reading_score',
 'math_score']

In [24]:
#school headers
list(school_data)

['School ID', 'school_name', 'type', 'size', 'budget']

In [25]:
#District Stats
total_students = student_data["Student ID"].count() #Studnet count
total_schools = school_data["School ID"].count() #Number of Scools
total_budget = school_data["budget"].sum() #Total District Budget
average_m_score = student_data["math_score"].mean() #Average Math Score
average_r_score = student_data["reading_score"].mean() #Average Reading Score
over_score = float((average_m_score + average_r_score)/2) #Combined Reading and Math Scores
# Passing Math Percentage
p_math = student_data.loc[student_data["math_score"]>=70, :]["student_name"].count()
p_math_rate = (p_math/total_students)*100

# Passing Reading Percentage
p_read = student_data.loc[student_data["reading_score"]>=70, :]["student_name"].count()
p_read_rate = (p_read/total_students)*100

In [26]:
#Final Statiscit Summary
District_Summary = pd.DataFrame({"Total Schools": total_schools,
                                "Total Students": total_students,
                                "Total Budget": total_budget,
                                "Ave Math Score": average_m_score,
                                "Ave Reading Score": average_r_score,
                                "% Passing Math": p_math_rate,
                                "% Passing Reading": p_read_rate,
                                "Overall passing": over_score}, index = [0])
# Formating columns
District_Summary["Total Budget"] = District_Summary["Total Budget"].astype(float).map("${:,.0f}".format)
District_Summary["Total Students"] = District_Summary["Total Students"].astype(float).map("{:,.0f}".format)
District_Summary["Ave Math Score"] = District_Summary["Ave Math Score"].astype(float).map("{:,.2f}".format)
District_Summary["Ave Reading Score"] = District_Summary["Ave Reading Score"].astype(float).map("{:,.2f}".format)
District_Summary["% Passing Math"] = District_Summary["% Passing Math"].astype(float).map("{:,.2f}%".format)
District_Summary["% Passing Reading"] = District_Summary["% Passing Reading"].astype(float).map("{:,.2f}%".format)
District_Summary["Overall passing"] = District_Summary["Overall passing"].astype(float).map("{:,.2f}%".format)

District_Summary

,Total Schools,Total Students,Total Budget,Ave Math Score,Ave Reading Score,% Passing Math,% Passing Reading,Overall passing
0,15,"39,170","$24,649,428",78.99,81.88,74.98%,85.81%,80.43%

In [27]:
# school Summary

total_student_school = student_data.groupby("school_name")["student_name"].count()
total_school_budget = school_data.groupby("school_name")["budget"].sum()
per_student_budget = (total_school_budget/total_student_school)
ave_math_school = student_data.groupby("school_name")["math_score"].mean()
ave_read_school = student_data.groupby("school_name")["reading_score"].mean()

p_math_school = student_data.loc[student_data["math_score"] >= 70, :].groupby("school_name")["math_score"].count()
p_math_school = (p_math_school/total_student_school)*100

p_read_school = student_data.loc[student_data["reading_score"] >= 70, :].groupby("school_name")["reading_score"].count()
p_read_school = (p_read_school/total_student_school)*100

over_score_school = (p_read_school + p_math_school)/2

In [28]:

school_summary = pd.concat([total_student_school,
                          total_school_budget,
                          per_student_budget,
                          ave_math_school,
                          ave_read_school,
                          p_math_school,
                          p_read_school,
                          over_score_school], axis = 1)

school_summary.reset_index=True

school_summary = school_summary.rename(columns={"index": "School Name",
                                               "student_name" : "Total Students",
                                               "budget" : "Budget",
                                               0: "Budget per Student",
                                               "math_score" : "Average Math Score",
                                               "reading_score": "Average Reading Score",
                                               1 : "% Passing Math",
                                               2 : "% Passing Reading",
                                               3 : "Overall Passing"})

school_summary = school_data.merge(school_summary, on="school_name")

school_summary["Budget per Student"] = school_summary["Budget per Student"].astype(float).map("${:,.0f}".format)
school_summary["Budget"] = school_summary["Budget"].astype(float).map("${:,.0f}".format)
school_summary["Average Math Score"] = school_summary["Average Math Score"].astype(float).map("{:,.2f}%".format)
school_summary["Average Reading Score"] = school_summary["Average Reading Score"].astype(float).map("{:,.2f}%".format)
school_summary["% Passing Math"] = school_summary["% Passing Math"].astype(float).map("{:,.2f}%".format)
school_summary["% Passing Reading"] = school_summary["% Passing Reading"].astype(float).map("{:,.2f}%".format)
school_summary["Overall Passing"] = school_summary["Overall Passing"].astype(float).map("{:,.2f}%".format)

school_summary = school_summary[["school_name", 
                                "type",
                                "Budget",
                                "Budget per Student",
                                "Average Math Score",
                                "Average Reading Score",
                                "% Passing Math",
                                "% Passing Reading",
                                "Overall Passing"]]

school_summary = school_summary.rename(columns={"school_name": "School Name",
                                                "type": "Type"})
del school_summary.index.name

school_summary.head()

,School Name,Type,Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
0,Huang High School,District,"$1,910,635",$655,76.63%,81.18%,65.68%,81.32%,73.50%
1,Figueroa High School,District,"$1,884,411",$639,76.71%,81.16%,65.99%,80.74%,73.36%
2,Shelton High School,Charter,"$1,056,600",$600,83.36%,83.73%,93.87%,95.85%,94.86%
3,Hernandez High School,District,"$3,022,020",$652,77.29%,80.93%,66.75%,80.86%,73.81%
4,Griffin High School,Charter,"$917,500",$625,83.35%,83.82%,93.39%,97.14%,95.27%

In [29]:
top_five = school_summary.sort_values("Overall Passing", ascending=False).iloc[0:5]
top_five

,School Name,Type,Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
6,Cabrera High School,Charter,"$1,081,356",$582,83.06%,83.98%,94.13%,97.04%,95.59%
14,Thomas High School,Charter,"$1,043,130",$638,83.42%,83.85%,93.27%,97.31%,95.29%
4,Griffin High School,Charter,"$917,500",$625,83.35%,83.82%,93.39%,97.14%,95.27%
9,Pena High School,Charter,"$585,858",$609,83.84%,84.04%,94.59%,95.95%,95.27%
5,Wilson High School,Charter,"$1,319,574",$578,83.27%,83.99%,93.87%,96.54%,95.20%

In [30]:
worst_five = school_summary.sort_values("Overall Passing", ascending=True).iloc[0:5]
worst_five

,School Name,Type,Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
11,Rodriguez High School,District,"$2,547,363",$637,76.84%,80.74%,66.37%,80.22%,73.29%
1,Figueroa High School,District,"$1,884,411",$639,76.71%,81.16%,65.99%,80.74%,73.36%
0,Huang High School,District,"$1,910,635",$655,76.63%,81.18%,65.68%,81.32%,73.50%
12,Johnson High School,District,"$3,094,650",$650,77.07%,80.97%,66.06%,81.22%,73.64%
13,Ford High School,District,"$1,763,916",$644,77.10%,80.75%,68.31%,79.30%,73.80%

In [31]:
#math scores by grade
ninth_grade = student_data.loc[student_data['grade'] == '9th',]
tenth_grade = student_data.loc[student_data['grade'] == '10th',]
eleventh_grade = student_data.loc[student_data['grade'] == '11th',]
twelfth_grade = student_data.loc[student_data['grade'] == '12th',]

#count of students per grade
ninth_count = ninth_grade.groupby("school_name")["grade"].count()
tenth_count = tenth_grade.groupby("school_name")["grade"].count()
eleventh_count = eleventh_grade.groupby("school_name")["grade"].count()
twelfth_count = twelfth_grade.groupby("school_name")["grade"].count()

#Formula for average math grade by school & by grade
math_nine_school = ninth_grade.groupby("school_name")["math_score"].sum()/ninth_count
math_tenth_school = tenth_grade.groupby("school_name")["math_score"].sum()/tenth_count
math_eleventh_school = eleventh_grade.groupby("school_name")["math_score"].sum()/eleventh_count
math_twelfth_school = twelfth_grade.groupby("school_name")["math_score"].sum()/twelfth_count

#Combine variables into one dataframe
math_score_school_grade = pd.concat([math_nine_school , math_tenth_school, math_eleventh_school,math_twelfth_school], axis = 1)

#rename colums in dataframe
math_score_school_grade = math_score_school_grade.rename(columns={ 0 :'9th', 1 : '10th', 2 : '11th', 3 : '12th'})


#formate columns for cleaner look
math_score_school_grade["9th"] = math_score_school_grade["9th"].astype(float).map("{:,.2f}%".format)
math_score_school_grade["10th"] = math_score_school_grade["10th"].astype(float).map("{:,.2f}%".format)
math_score_school_grade["11th"] = math_score_school_grade["11th"].astype(float).map("{:,.2f}%".format)
math_score_school_grade["12th"] = math_score_school_grade["12th"].astype(float).map("{:,.2f}%".format)

#rename the index 
del math_score_school_grade.index.name
math_score_school_grade

                          9th    10th    11th    12th
Bailey High School     77.08%  77.00%  77.52%  76.49%
Cabrera High School    83.09%  83.15%  82.77%  83.28%
Figueroa High School   76.40%  76.54%  76.88%  77.15%
Ford High School       77.36%  77.67%  76.92%  76.18%
Griffin High School    82.04%  84.23%  83.84%  83.36%
Hernandez High School  77.44%  77.34%  77.14%  77.19%
Holden High School     83.79%  83.43%  85.00%  82.86%
Huang High School      77.03%  75.91%  76.45%  77.23%
Johnson High School    77.19%  76.69%  77.49%  76.86%
Pena High School       83.63%  83.37%  84.33%  84.12%
Rodriguez High School  76.86%  76.61%  76.40%  77.69%
Shelton High School    83.42%  82.92%  83.38%  83.78%
Thomas High School     83.59%  83.09%  83.50%  83.50%
Wilson High School     83.09%  83.72%  83.20%  83.04%
Wright High School     83.26%  84.01%  83.84%  83.64%

In [32]:
#Formula for average reading score by school & by grade
read_nine_school = ninth_grade.groupby("school_name")["reading_score"].sum()/ninth_count
read_tenth_school = tenth_grade.groupby("school_name")["reading_score"].sum()/tenth_count
read_eleventh_school = eleventh_grade.groupby("school_name")["reading_score"].sum()/eleventh_count
read_twelfth_school = twelfth_grade.groupby("school_name")["reading_score"].sum()/twelfth_count

read_score_school_grade = pd.concat([read_nine_school , read_tenth_school, read_eleventh_school, read_twelfth_school], axis = 1)

#rename colums in dataframe
read_score_school_grade = read_score_school_grade.rename(columns={0 :'9th', 1 : '10th', 2 : '11th', 3 : '12th'})


#formate columns for cleaner look
read_score_school_grade["9th"] = read_score_school_grade["9th"].astype(float).map("{:,.2f}%".format)
read_score_school_grade["10th"] = read_score_school_grade["10th"].astype(float).map("{:,.2f}%".format)
read_score_school_grade["11th"] = read_score_school_grade["11th"].astype(float).map("{:,.2f}%".format)
read_score_school_grade["12th"] = read_score_school_grade["12th"].astype(float).map("{:,.2f}%".format)

#rename the index 
del read_score_school_grade.index.name
read_score_school_grade

                          9th    10th    11th    12th
Bailey High School     81.30%  80.91%  80.95%  80.91%
Cabrera High School    83.68%  84.25%  83.79%  84.29%
Figueroa High School   81.20%  81.41%  80.64%  81.38%
Ford High School       80.63%  81.26%  80.40%  80.66%
Griffin High School    83.37%  83.71%  84.29%  84.01%
Hernandez High School  80.87%  80.66%  81.40%  80.86%
Holden High School     83.68%  83.32%  83.82%  84.70%
Huang High School      81.29%  81.51%  81.42%  80.31%
Johnson High School    81.26%  80.77%  80.62%  81.23%
Pena High School       83.81%  83.61%  84.34%  84.59%
Rodriguez High School  80.99%  80.63%  80.86%  80.38%
Shelton High School    84.12%  83.44%  84.37%  82.78%
Thomas High School     83.73%  84.25%  83.59%  83.83%
Wilson High School     83.94%  84.02%  83.76%  84.32%
Wright High School     83.83%  83.81%  84.16%  84.07%

In [33]:
school_spend_df = school_data
student_spend_df = student_data

school_spend_df['per student budget'] = school_spend_df['budget'] / school_spend_df['size']


#Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

#Asigning BIns and Labels
school_spend_df["Spending Ranges(Per Student)"] = pd.cut(school_spend_df["per student budget"],bins=spending_bins,labels=group_names)
student_spend_df = student_spend_df.merge(school_spend_df, left_on="school_name", right_on="school_name")

#column Calculations
students_by_budget = student_spend_df.groupby("Spending Ranges(Per Student)")["student_name"].count()
ave_math_score = student_spend_df.groupby("Spending Ranges(Per Student)")["math_score"].mean()
ave_read_score = student_spend_df.groupby("Spending Ranges(Per Student)")["reading_score"].mean()
perc_pass_math = (student_spend_df.loc[student_spend_df['math_score'] >= 70].groupby("Spending Ranges(Per Student)")["math_score"].count()/students_by_budget)*100
perc_pass_read = (student_spend_df.loc[student_spend_df['reading_score'] >= 70].groupby("Spending Ranges(Per Student)")["reading_score"].count()/students_by_budget)*100
overall = (perc_pass_math + perc_pass_read)/2

score_by_budget = pd.concat([ave_math_score,
                            ave_read_score,
                            perc_pass_math,
                            perc_pass_read,
                            overall], axis = 1)
score_by_budget = score_by_budget.rename(columns={"math_score": "Average Math Score",
                                                 "reading_score": "Average Reading Score",
                                                 0: "% Passing Math",
                                                 1: "% Passing Reading",
                                                 2:"% Overall Passing Rate"})
#formate columns for cleaner look
score_by_budget["Average Math Score"] = score_by_budget["Average Math Score"].astype(float).map("{:,.2f}%".format)
score_by_budget["Average Reading Score"] = score_by_budget["Average Reading Score"].astype(float).map("{:,.2f}%".format)
score_by_budget["% Passing Math"] = score_by_budget["% Passing Math"].astype(float).map("{:,.2f}%".format)
score_by_budget["% Passing Reading"] = score_by_budget["% Passing Reading"].astype(float).map("{:,.2f}%".format)
score_by_budget["% Overall Passing Rate"] = score_by_budget["% Overall Passing Rate"].astype(float).map("{:,.2f}%".format)

score_by_budget

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges(Per Student),,,,,
<$585,83.36%,83.96%,93.70%,96.69%,95.19%
$585-615,83.53%,83.84%,94.12%,95.89%,95.01%
$615-645,78.06%,81.43%,71.40%,83.61%,77.51%
$645-675,77.05%,81.01%,66.23%,81.11%,73.67%

In [34]:
school_size_df = school_data
student_size_df = student_data

school_size_df['School_Size'] = school_spend_df['size']
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
size_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

#Asigning BIns and Labels
school_size_df["School Size"] = pd.cut(school_size_df['School_Size'], bins=size_bins, labels=size_names)
student_size_df = student_size_df.merge(school_size_df, left_on="school_name", right_on="school_name")


#column Calculations
students_by_size = student_size_df.groupby("School Size")["student_name"].count()
ave_math_score_size = student_size_df.groupby("School Size")["math_score"].mean()
ave_read_score_size = student_size_df.groupby("School Size")["reading_score"].mean()
perc_pass_math_size = (student_size_df.loc[student_size_df['math_score'] >= 70].groupby("School Size")["math_score"].count()/students_by_size)*100
perc_pass_read_size = (student_size_df.loc[student_size_df['reading_score'] >= 70].groupby("School Size")["reading_score"].count()/students_by_size)*100
overall_size = (perc_pass_math_size + perc_pass_read_size)/2

score_by_size = pd.concat([
                          ave_math_score_size,
                          ave_read_score_size,
                          perc_pass_math_size,
                          perc_pass_read_size,
                          overall_size], axis = 1)
score_by_size = score_by_size.rename(columns={"math_score": "Average Math Score",
                                                 "reading_score": "Average Reading Score",
                                                 0: "% Passing Math",
                                                 1: "% Passing Reading",
                                                 2:"% Overall Passing Rate"})
#formate columns for cleaner look
score_by_size["Average Math Score"] = score_by_size["Average Math Score"].astype(float).map("{:,.2f}%".format)
score_by_size["Average Reading Score"] = score_by_size["Average Reading Score"].astype(float).map("{:,.2f}%".format)
score_by_size["% Passing Math"] = score_by_size["% Passing Math"].astype(float).map("{:,.2f}%".format)
score_by_size["% Passing Reading"] = score_by_size["% Passing Reading"].astype(float).map("{:,.2f}%".format)
score_by_size["% Overall Passing Rate"] = score_by_size["% Overall Passing Rate"].astype(float).map("{:,.2f}%".format)
score_by_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.83%,83.97%,93.95%,96.04%,95.00%
Medium (1000-2000),83.37%,83.87%,93.62%,96.77%,95.19%
Large (2000-5000),77.48%,81.20%,68.65%,82.13%,75.39%

In [35]:
student_type_df = student_size_df


#column Calculations
student_by_type_df = student_type_df.groupby("type")["student_name"].count()

ave_math_score_type = student_type_df.groupby("type")["math_score"].mean()
ave_read_score_type = student_type_df.groupby("type")["reading_score"].mean()
perc_pass_math_type = (student_type_df.loc[student_type_df['math_score'] >= 70].groupby("type")["math_score"].count()/student_by_type_df)*100
perc_pass_read_type = (student_type_df.loc[student_type_df['reading_score'] >= 70].groupby("type")["reading_score"].count()/student_by_type_df)*100
overall_type = (perc_pass_math_type + perc_pass_read_type)/2

score_by_type = pd.concat([
                          ave_math_score_type,
                          ave_read_score_type,
                          perc_pass_math_type,
                          perc_pass_read_type,
                          overall_type], axis = 1)
score_by_type = score_by_type.rename(columns={"math_score": "Average Math Score",
                                                 "reading_score": "Average Reading Score",
                                                 0: "% Passing Math",
                                                 1: "% Passing Reading",
                                                 2:"% Overall Passing Rate"})
score_by_type["Average Math Score"] = score_by_type["Average Math Score"].astype(float).map("{:,.2f}%".format)
score_by_type["Average Reading Score"] = score_by_type["Average Reading Score"].astype(float).map("{:,.2f}%".format)
score_by_type["% Passing Math"] = score_by_type["% Passing Math"].astype(float).map("{:,.2f}%".format)
score_by_type["% Passing Reading"] = score_by_type["% Passing Reading"].astype(float).map("{:,.2f}%".format)
score_by_type["% Overall Passing Rate"] = score_by_type["% Overall Passing Rate"].astype(float).map("{:,.2f}%".format)

score_by_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
type,,,,,
Charter,83.41%,83.90%,93.70%,96.65%,95.17%
District,76.99%,80.96%,66.52%,80.91%,73.71%