In [5]:
#import Libraries
import pandas as pd
import numpy as np

In [6]:
#get Csv Files
School_data_load = "PyCitySchools/Resources/schools_complete.csv"
Student_data_load = "PyCitySchools/Resources/students_complete.csv"

School_data = pd.read_csv(School_data_load)
Student_data = pd.read_csv(Student_data_load)

In [7]:
list(Student_data)

['Student ID',
 'student_name',
 'gender',
 'grade',
 'school_name',
 'reading_score',
 'math_score']

In [8]:
#school headers
list(School_data)

['School ID', 'school_name', 'type', 'size', 'budget']

In [9]:
#calculate Total Students
Total_Students = Student_data["Student ID"].count()
Total_Students

39170

In [10]:
#calculate Total Schools
Total_Schools = School_data["School ID"].count()
Total_Schools

15

In [11]:
#Calculate Total Budget
Total_budget = School_data["budget"].sum()
Total_budget

24649428

In [12]:
#Calculate Average Math Score
Average_m_score = Student_data["math_score"].mean()
Average_m_score

78.98537145774827

In [13]:
#Calculate Average Read Score
Average_r_score = Student_data["reading_score"].mean()
Average_r_score

81.87784018381414

In [14]:
P_count=[]

for row in Student_data["math_score"]:
    if row >= 70:
        P_count.append([1])


Passdm = P_count.count([1])
math_perc = Passdm/Total_Students*100
math_perc

74.9808526933878

In [15]:
R_count=[]

for row in Student_data["reading_score"]:
    if row >= 70:
        R_count.append([1])


Passdr = R_count.count([1])
read_perc = Passdr/Total_Students*100
read_perc

85.80546336482001

In [16]:
Over_score = float((Average_m_score + Average_r_score)/2)
Over_score

80.43160582078121

In [18]:
#Final Statiscit Summary
District_Summary = pd.DataFrame({"Total Schools": [Total_Schools],
                                "Total Students": [Total_Students],
                                "Total Budget": [Total_budget],
                                "Ave Math Score": [Average_m_score],
                                "Ave Reading Score": [Average_r_score],
                                "% Passing Math": [math_perc],
                                "% Passing Reading": [read_perc],
                                "Overall passing": [Over_score]})

District_Summary["Total Budget"] = District_Summary["Total Budget"].astype(float).map("${:,.0f}".format)
District_Summary["Total Students"] = District_Summary["Total Students"].astype(float).map("{:,.0f}".format)
District_Summary["Ave Math Score"] = District_Summary["Ave Math Score"].astype(float).map("{:,.2f}".format)
District_Summary["Ave Reading Score"] = District_Summary["Ave Reading Score"].astype(float).map("{:,.2f}".format)
District_Summary["% Passing Math"] = District_Summary["% Passing Math"].astype(float).map("{:,.2f}%".format)
District_Summary["% Passing Reading"] = District_Summary["% Passing Reading"].astype(float).map("{:,.2f}%".format)
District_Summary["Overall passing"] = District_Summary["Overall passing"].astype(float).map("{:,.2f}%".format)


District_Summary

,Total Schools,Total Students,Total Budget,Ave Math Score,Ave Reading Score,% Passing Math,% Passing Reading,Overall passing
0,15,"39,170","$24,649,428",78.99,81.88,74.98%,85.81%,80.43%

In [20]:
District_Summary.to_csv("District_Summary.csv")

In [68]:
School_Summary = School_data.groupby(["school_name"])
School_Summary